.preview {
    position: relative;
}

.preview_close {
    position: absolute;
    top: 0;
    margin: 5px;
    cursor: pointer;
    color: white;
}
.preview__toolbarRight {
    color: white;
    margin: 5px;
    right: 0;
    position: absolute;  
display: flex;
flex-direction: column;

}

.preview__toolbarRight > .MuiSvgIcon-root {
    font-size: 20px !important;
    margin-bottom: 8px;
    cursor: pointer;
}

.preview_footer {
    position: absolute;
    bottom: 0;
    right: -25px;
    transform: translate(-50%, -50%);
    background-color: yellow;
    color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;
    padding: 7px;
    cursor: pointer;
}
.preview_footer > h2 {
    font-size: 8px;
    margin-right: 3px;

}
.preview_sendIcon {
    font-size: 10px !important;
}